.textpanel {
    position: relative;
    /*border: 1px dotted gray;*/
    display: inline-block; /* if you want this container to shrink-to-fit */
}
.textpanel img #btnGroup {
    display: block;
}
/*.textpanel textarea {
    position: absolute;
    top: 50px;
    left: 50px;
    height: 200px;
    width: 200px;
    background-color: rgba(255,255,255,0.5);
    }*/
#btnGroup {
	position: relative;/*absolute;*/
}
.labelCloud {
    width: 100%;
    text-align: center;
    border: 1px solid #898989;
    border-radius: 11px;
    padding: 2px;
}
.thumbs {
float:left;
}
