.textpanel {
    position: relative;
    /*border: 1px dotted gray;*/
    display: inline-block; /* if you want this container to shrink-to-fit */
}
.textpanel #photo #btnGroup {
    display: block;
}

#btnGroup {
	position: absolute;
	bottom: 10%;
	left: 50%;
}

.thumbs {
float:left;
}

/*#btnCam {left: 50%;}

#btnCam span span {
    height: 100px !important;  
    line-height: 70px;
	font-size:medium;	
}*/

/*body {
font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
font-size:1.5em;
}*/

.s1 .ui-btn-text {
	font-size: xx-small;
}
.s2 .ui-btn-text{
	font-size: x-small;
}
.s3 .ui-btn-text{
	font-size: small;
}
.s4 .ui-btn-text{
	font-size: medium;
}
.s5 .ui-btn-text{
	font-size: large;
}
.s6 .ui-btn-text{
	font-size: x-large;
}
.s7 .ui-btn-text{
	font-size: xx-large;
}


